body {
  font-family: "Lato", sans-serif;
  background: #eeeeee;
}

#myCanvas{
	border:1px solid #d3d3d3;
	min-height:300px;
	min-height:200px;
	/*opacity: 150%;*/
}
.data-txt{width:100%;height:50px;}

.callflow, .cf-kb{float:left;width:100%;}
.cf-temp{width:98%;padding:1%;min-height:100px;display:none;}
.kb-info{display:none;width:100%;height:280px;}
.cf-temp, .kb-info{width:49%;float:left;}
.call-flow span{display:block;}
.call-flow span.header{font-weight:bold;size:1.2em;padding:0 0 5px 0;}
.cf-textarea{width:100%;height:5em;}
.cfno, .cfno-img{width:30px;}

.call-flow .spiel{font-style:italic;padding:0 0 4px 15px;}
span.power-words{display:block;font-weight:bold;size:1.2em;}
.call-flow{display:none;}
.kb-item, .hdata{display:none;}
.wrapup{display:none;font-size: 0.8rem;}
.kb-notes{float:left;min-width:34%;width:100%;}
.kbimges{display:none;float:left; width:64%;height:450px;}
.kb-docs{float:left;font-size: 0.8rem;padding-left:1rem;}
.olpr{font-size: 0.8rem;}

#kbCase {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 0.7rem;
  padding_: 12px 20px 12px 40px;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#caseList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height:200px;
  overflow:auto;
}

#caseList li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 5px;
  text-decoration: none;
  font-size: 0.7rem;
  color: black;
  display: block
}

#caseList li a:hover:not(.header) {
  background-color: #eee;
}	
